.header {
    padding-top: 20px;
    padding-bottom: 20px;

    @include mobile {
        width: 100%;
        z-index: 4;
        background: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        @include tablet {
            max-width: 160px;
        }

        @include mobile {
            max-width: 140px;
        }
    }

    &__hamburger {
        display: none;

        @include laptop {
            display: flex;
            margin-left: auto;
            margin-right: 20px;
        }

        @include mobile {
            margin-right: 0;
            padding: 0;
        }

        &_mobile {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        @include laptop {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: initial;
            position: fixed;
            z-index: 5;
            width: 100%;
            max-width: 320px;
            height: 100vh;
            top: 0;
            left: -100%;
            background-color: $blue;
            transition: 200ms;
            padding: 160px 20px 0;


            li {
                display: flex;
                justify-content: center;
            }
        }



        .header__login_link {
            color: $black;
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                color: $blue;
            }
        }

        &_link,
        .nav-item {
            color: $black;
            margin-left: 15px;
            margin-right: 15px;
            font-size: 16px;

            &:hover {
                color: $blue;
            }

            @include laptop {
                color: white;
                margin: 15px 0 0;
                display: inline-block;
                padding: 8px 15px;
                background-color: lighten($color: $blue, $amount: 15);
                width: 100%;
                text-align: center;
                border-radius: 5px;


                &:hover {
                    border: none;
                    color: white;
                    background-color: lighten($color: $blue, $amount: 5);
                }

                .nav-link {
                    color: white;
                }
            }

            &--mobile {
                display: none;

                @include mobile {
                    display: block;
                }
            }

            &--margin {
                margin-top: 40px;
            }
        }

        &_active {
            left: 0;

            .header__login_link,
            .nav-item {
                color: white;

                margin-left: 5px;
                margin-right: 5px;

                &:hover {
                    color: darken($color: white, $amount: 10);
                }

                @include laptop {
                    color: white;
                    margin-top: 15px;
                    display: inline-block;
                    padding: 8px 15px;
                    background-color: lighten($color: $blue, $amount: 15);
                    width: 100%;
                    text-align: center;
                    border-radius: 5px;
                    margin: 15px 0 0;

                    &:hover {
                        border: none;
                        color: white;
                        background-color: lighten($color: $blue, $amount: 5);
                    }
                }
            }
        }
    }

    &__login {
        margin: 0;
        background-color: $blue;
        padding: 5px;
        border-radius: 5px;
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;

        @include laptop {
            margin: 0;
        }

        @include mobile {
            flex-direction: column;
        }


        span {
            color: white;
        }

        .nav-link {
            color: white;
        }

        @include mobile {
            display: none;
            position: fixed;
            left: 20px;
            top: 60px;
            z-index: 15;
            background-color: #004877;
            padding: 0 15px;
            width: 100%;
            max-width: 280px;
            justify-content: center;
        }

        &_link {
            color: white;
            margin-left: 5px;
            margin-right: 5px;

            &:hover {
                color: white;
            }

            @include mobile {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            &:first-child::after {
                content: "/";
                padding-left: 10px;
            }
        }
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: white;
    }

}